:root{
    --main-ff:"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --logo-ff:"VeganStyle","Segoe UI", Roboto, Halvetica, Arial , sans-serif;

    --main-bg-cl-bl:hsl(0, 0%, 0%);
    --main-bg-cl-wt:hsl(0, 0%, 100%);
    
    --clr-tomato-red:hsl(355, 82%, 61%);
    --clr-aqua-blue:hsl(207, 60%, 77%);
    --clr-light-blue:hsl(204, 100%, 48%);
    --clr-medium-blue:hsla(204, 95%, 50%, 0.955);
    --clr-medium-dark-blue:hsla(204, 79%, 47%, 0.955);
    --clr-medium-d-dark-blue:hsl(204, 79%, 41%);

    --bg-gray-black:hsl(0, 0%, 7.9%);
    --bg-gray-medium-up:#222322;  
    --bg-gray-medium:hsl(0, 0%, 21%);
    --bg-gray-medium-light:hsl(0, 0%, 23%);
    --p-gray-black:hsl(0, 0%, 15%);
    --p-gray:hsl(0,0%,44.31%);
    --p-gray-light-medium:hsl(0, 0%, 76%);
    --p-gray-light:hsl(0, 0%, 61%);
    --p-light:hsl(0, 0%, 96%);

    --fs-big:36px;
    --fs-big-medium:30px;
    --fs-medium-big:20px;
    --fs-medium-big-small:19px;
    --fs-medium-big-xs:18px;
    --fs-medium:17px;
    --fs-medium-small:16px;
    --fs-small-big:15px;
    --fs-small:14px;
    --fs-small-xs:12px;

    --border-clr-grey:hsl(1,0%,15%);

    --nav-medium-width:244px;
    --nav-big-width:330px;
    --nav-small-width:73px;
    --nav-popup-width:397px;
    --settings-popup-width:266px;
    --auth-cont-width:370px;

    --pp-inl-p:1rem;
    --pp-inl-p-m:1.5rem;
    --pp-bl-p-start:2rem;
    --pp-bl-p-end:1.7rem;
}
.auth-section{
    display: flex;
    height: 100vh;
    align-items: center;
}
body:has(.auth-section){
    background-color: var(--main-bg-cl-wt);
}
.auth-section .logo{
  font-size: 33px; 
  letter-spacing: 3px;
  color: rgba(11, 11, 11, 0.871);
  user-select: none;
  cursor: pointer;
}
.auth-section .logo-cont{
    margin-bottom: .3rem;
}
.auth-section :where(*){
    color: black;
}
.auth-sub{
    width: 100%;
}
.auth-cont-box{
 margin: auto;
 width: 100%;
 max-width: var(--auth-cont-width);
 padding: 1rem;
}
.auth-in-box{
    border: 1px solid rgba(0, 0, 0, 0.134);
    padding-inline: 3rem;
    padding-block-end: 2rem;
    padding-block-start: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.auth-in-box .logo-cont{
    padding:0;
    min-height: 0;
}
.auth-in-box .profile-photo-cont{
    padding: 0;
    width: 6.5rem;
}
.light-blue-btn,.auth-down-text{
    font-size: var(--fs-medium-small);
}
.light-blue-btn{
    cursor: pointer;
}
.light-blue-btn:hover{
    background-color:hsl(218, 82%, 55%);
}
.auth-down-text {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.auth-in-box .blue{
    font-weight: 600;
}
.auth-in-box .blue:hover{
    color: hsl(209, 100%, 21%);
}
.auth-form{
 display: flex;
 flex-direction: column;
 width: 100%;
}
.auth-form .auth-field{
 font-size: var(--fs-small-xs);
 padding: .6rem;
 background-color: hsl(0, 0%, 97.5%);
 border: 1px solid hsla(0, 0%, 85%);
}
.auth-form .auth-field::placeholder{
    color: var(--p-gray);
}
.auth-form .auth-field:focus{
    outline: 1px solid hsla(0, 0%, 50%,0.5);
}
.auth-form input[type="submit"]{
 margin-top: .5rem;
 font-size: var(--fs-small);
 font-weight: 500;
 letter-spacing: 1.2px;
}
.auth-down{
    padding-block: 1.7rem;
    margin-block: .65rem;
}
.auth-down :is(p,a){
    font-size:var(--fs-small-big);
}
.login-down .auth-down-text{
    gap: .3rem;
}

.auth-section .form-group{
    padding-bottom: .4rem;
}
.auth-section .form-group:has(.input-error) input::placeholder{
    color: rgb(237, 34, 34);
}

.auth-section :is(.input-error,.input-grand-error){
    color: hsl(0, 81%, 59%);
    position: relative;
}
.input-grand-error{
    text-align: center;
}
.auth-section .input-error{
  font-size: 12.5px;
  bottom: 0;
}
.auth-section .input-grand-error{
    font-size: var(--fs-small);
    margin-top: .45rem;
}

.light-blue-btn{
    background-color: var(--clr-light-blue);
}

.disabled-light-blue-btn,.light-blue-btn{
    color: white;
    padding-block: .7rem;
    padding-inline: 2rem;
    border-radius: .5rem;
    cursor: pointer;
}
.disabled-light-blue-btn{
    background-color: hsla(204, 100%, 48%,0.45);
    cursor: auto;
}