:root{
    --main-ff:"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --main-bg-cl-bl:hsl(0, 0%, 0%);
    --main-bg-cl-wt:hsl(0, 0%, 100%);
    
    --clr-tomato-red:hsl(355, 82%, 61%);
    --clr-aqua-blue:hsl(207, 60%, 77%);
    --clr-medium-blue:hsla(204, 95%, 50%, 0.955);
    --clr-medium-dark-blue:hsla(204, 79%, 47%, 0.955);
    --clr-medium-d-dark-blue:hsl(204, 79%, 41%);

    --bg-gray-black:hsl(0, 0%, 7.9%);
    --bg-gray-medium-up:#222322;  
    --bg-gray-medium:hsl(0, 0%, 21%);
    --bg-gray-medium-light:hsl(0, 0%, 23%);
    --p-gray-black:hsl(0, 0%, 15%);
    --p-gray:hsl(0,0%,44.31%);
    --p-gray-light-medium:hsl(0, 0%, 76%);
    --p-gray-light:hsl(0, 0%, 61%);
    --p-light:hsl(0, 0%, 96%);

    --fs-big:36px;
    --fs-big-medium:30px;
    --fs-medium-big:20px;
    --fs-medium-big-small:19px;
    --fs-medium-big-xs:18px;
    --fs-medium:17px;
    --fs-medium-small:16px;
    --fs-small:14px;
    --fs-small-xs:12px;

    --border-clr-grey:hsl(1,0%,15%);

    --nav-medium-width:244px;
    --nav-big-width:330px;
    --nav-small-width:73px;
    --nav-popup-width:397px;
    --settings-popup-width:266px;

    --pp-inl-p:1rem;
    --pp-inl-p-m:1.5rem;
    --pp-bl-p-start:2rem;
    --pp-bl-p-end:1.7rem;
}
.explore{
 width: calc(100% var(--nav-big-width));
 margin-inline-start: var(--nav-big-width);
 background-color: var(--main-bg-cl-bl);
}
.explore-sub{
 margin: auto;
 width: 100%;
 max-width: 970px;
 padding-inline: 1.25rem;
 padding-block: 2.5rem;
}

.explore-sub .row-up-5{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: .5rem;
    margin-bottom: .3rem;
}
/* .explore-sub .row-up-5:nth-last-of-type(even) :nth-child(0n + 3){
    grid-row: span 2;
}

.explore-sub .row-up-5:nth-last-of-type(odd) :nth-child(0n + 1){
    grid-row: span 2;
} */

.explore .box-in{
    width: 100%;
    height: 100%;
}

.explore .explore-box{
    min-height: 10rem;
    /* max-height: 20rem; */
    height: 18rem;
}